$def with (room)

<!doctype html>
<html>
  <head>
    <title>Mafia</title>
    <link rel="stylesheet" href="http://mafia.tapioca.world/static/css/chat.css">
  </head>
  <body>
    <div hidden id="room">$room</div>
    <br />
    <div class="container">
      <div class="chat left">
	<ul id="playerBox"></ul>
	<div id="voteSection"></div>
      </div>
      <div id="messagediv" class="chat right">
	<ul id="messages"></ul>
      </div>
    </div>
    <div>
      <form action="" id="chatform">
	<input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://mafia.tapioca.world/static/js/common.js"></script>
    <script src="http://mafia.tapioca.world/static/js/game.js"></script>
  </body>
</html>
