<html>
  <head>
    <title>Mafia Frontpage</title>
  </head>
  <body>
    <center><h1>CPE 490 Mafia</h1></center>
    <p>Please set your name here.</p>
    
    <input type="text" id="name">
    <button type="buton" onclick="setName()">Set Name</button>
    
    <button disabled onclick="newGame()" id="makebutton">Start New Game</button>
    <script src="static/js/common.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
$$(document).ready(function() {
    var na = readCookie("name");
    if (na == null) {
	$$('#makebutton').prop('disabled', true);
    }
    else {
	$$('#makebutton').prop('disabled', false);
	$$('#name').val(na);
    }
});

function newGame() {
    var ts = Math.round((new Date()).getTime() / 1000);
    location.href = 'http://mafia.miller.claims/game/' + ts;
}
    

function setName() {
    var name = $$('#name').val();
    var expiration_date = new Date();
    var cookie_string = '';
    expiration_date.setFullYear(expiration_date.getFullYear() + 10);
    cookie_string = "name=" + name + "; path=/; expires=" + expiration_date.toUTCString();
    document.cookie = cookie_string;
    
    $$('#makebutton').prop('disabled', false);
}
    </script>
    
  </body>
</html>
